@model IEnumerable<CarsTARge22.Models.Cars.CarsIndexViewModel>

@{
    int rownumber = 1;
}

<div>
    <a asp-action="create" asp-controller="Cars" type="submit" class="btn btn-primary">Create</a>
</div>
<div class="h1">
    Cars
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Brand</th>
                <th scope="col">Type</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    
                    <td>@rownumber</td>
                    <td>@car.Brand</td>
                    <td>@car.Type</td>
                    <td>@car.Year</td>
                    <td>
                        <a asp-action="details" asp-controller="cars" asp-route-id="@car.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="cars" asp-route-id="@car.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="delete" asp-controller="cars" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                rownumber += 1;
            }
        </tbody>
    </table>
</form>